.master-div {
  padding: 25px;
  margin-top: 80px;
}

.avatar-hero {
  width: 110px;
  height: auto;
  border-radius: 50%;
  -webkit-animation: rotate-circle 10s infinite linear;
  animation: rotate-circle 10s infinite linear;
}

@-webkit-keyframes rotate-circle {
  from {
    -webkit-transform: rotate(0deg) translate(-.25rem) rotate(0deg) scale(1.1);
    transform: rotate(0deg) translate(-.25rem) rotate(0deg) scale(1.1)
  }
  to {
    -webkit-transform: rotate(360deg) translate(-.25rem) rotate(-360deg) scale(1.1);
    transform: rotate(360deg) translate(-.25rem) rotate(-360deg) scale(1.1)
  }
}

@keyframes rotate-circle {
  from {
    -webkit-transform: rotate(0deg) translate(-.25rem) rotate(0deg) scale(1.1);
    transform: rotate(0deg) translate(-.25rem) rotate(0deg) scale(1.1)
  }
  to {
    -webkit-transform: rotate(360deg) translate(-.25rem) rotate(-360deg) scale(1.1);
    transform: rotate(360deg) translate(-.25rem) rotate(-360deg) scale(1.1)
  }
}

.main-div {
  background-color: #ffffff;
  padding: 20px;
  background: rgba(255, 255, 255, 0.68);
  border-radius: 10px;
}

@mixin flex-grid-items($cols) {
  display: flex;
  flex-wrap: wrap;

  > * {
    $item-width: 100% / $cols;
    width: $item-width;
    box-sizing: border-box;
  }
}

.flex-1-cols {
  @include flex-grid-items(1)
}

.flex-2-cols {
  @include flex-grid-items(2)
}

.flex-4-cols {
  @include flex-grid-items(4)
}

.flex-9-cols {
  @include flex-grid-items(9)
}

.hero-all-div {
  padding: 10px;
}

.hero-content {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px 10px 10px 10px;
  height: 130px;
}

.hero-name-title {
  color: #D91C2A;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}

.hero-description {
  color: #666666;
}

.hero-place {
  position: relative;
  bottom: 110px;
  left: 85px;
  background: rgba(255, 7, 7, 0.65);
  border-radius: 50%;
  padding: 15px;
  color: #ffffff;
  font-weight: bold;
  width: 20px;
  height: 20px;
}

.no-underline-link {
  text-decoration: none;
}

.heto-data {
  width: 300px !important;
}
