<div class="master-div">

  <div *ngIf="heroes" class="flex-4-cols main-div">

    <div fxFlex="33.3" class="hero-all-div" fxFlex.xs="100" *ngFor="let hero of (heroes  | objectToArray); index as i">
      <a class="no-underline-link" routerLink="/hero-detail/{{hero._id}}">
        <div class="flex-4-cols hero-content">
          <div class="heto-data">

            <div fxFlex="50" fxFlex.xs="50">
              <img class="avatar-hero" src="{{hero._picture}}" alt="Avatar">
              <div class="hero-place">
                <span class="">{{hero._id | positionInQueue}}</span>
              </div>
            </div>
            <div fxFlex="50" fxFlex.xs="50">
              <h1 class="hero-name-title"> {{hero._name}}</h1>
              <div>
                <span class="hero-description"> {{hero._nickname}}</span>
                <br>

                <span class="hero-description">Height: {{hero._height}} mts</span>
              </div>
            </div>
          </div>

        </div>
      </a>
    </div>
  </div>

</div>
