<!--<button (click)="getHeroes()">-->
  <!--Get heroes-->
<!--</button>-->
<!--<button (click)="printConsole()">-->
  <!--Print-->
<!--</button>-->
<!--<button (click)="updateHero()">-->
  <!--update Hero-->
<!--</button>-->

<!--<hr>-->
<app-hero-list [heroes]="heroesList | async" *ngIf="heroesList"></app-hero-list>
<!--<ngrx-devtools></ngrx-devtools>-->

