.detail-master-div {
  background-color: #ffffff;
  padding: 20px;
  background: rgba(255, 255, 255, 0.68);
  border-radius: 10px;
}

.detail-main-div {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.avatar-hero-detail {
  width: 150px;
  height: auto;
  border-radius: 50%;
  -webkit-animation: rotate-circle 10s infinite linear;
  animation: rotate-circle 10s infinite linear;
}

@-webkit-keyframes rotate-circle {
  from {
    -webkit-transform: rotate(0deg) translate(-.25rem) rotate(0deg) scale(1.1);
    transform: rotate(0deg) translate(-.25rem) rotate(0deg) scale(1.1)
  }
  to {
    -webkit-transform: rotate(360deg) translate(-.25rem) rotate(-360deg) scale(1.1);
    transform: rotate(360deg) translate(-.25rem) rotate(-360deg) scale(1.1)
  }
}

@keyframes rotate-circle {
  from {
    -webkit-transform: rotate(0deg) translate(-.25rem) rotate(0deg) scale(1.1);
    transform: rotate(0deg) translate(-.25rem) rotate(0deg) scale(1.1)
  }
  to {
    -webkit-transform: rotate(360deg) translate(-.25rem) rotate(-360deg) scale(1.1);
    transform: rotate(360deg) translate(-.25rem) rotate(-360deg) scale(1.1)
  }
}

.hero-image-div {
  margin: 20px;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}


