<div fxFlex="33.3" fxFlexOffset="33.3" fxFlex.xs="80" fxFlexOffset.xs="10">
<div class="detail-master-div">
  <div fxLayout="column" fxLayoutAlign="space-between center" class="detail-main-div">
    <div fxLayoutAlign="space-around center" class="hero-image-div">
      <img class="avatar-hero-detail" src="{{hero._picture}}" alt="Avatar">
    </div>

    <div class="detail-input">
      <label>Name:
        <input [(ngModel)]="hero._name" placeholder="name">
      </label>
    </div>

    <div class="detail-input">
      <label>Height:
        <input [(ngModel)]="hero._height" placeholder="name">
      </label>
    </div>

    <div class="detail-input">
      <label>Nickname:
        <input [(ngModel)]="hero._nickname" placeholder="name">
      </label>
    </div>


    <div class="flex-4-cols hero-content">
      <div fxFlex="50" fxFlex.xs="50" class="">
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <button (click)="goBack()" class="btn-danger">
            go back
          </button>
        </div>
      </div>
      <div fxFlex="50" fxFlex.xs="50">
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <button (click)="updateHero()" class="btn-primary">
            update Hero
          </button>
        </div>
      </div>

    </div>

  </div>
</div>
</div>

